
/* White background for images, to handle transparency */
.reveal section img { 
    border:none;
    box-shadow:none;
    background: rgba(255, 255, 255, 1.0);
    margin: 0px;
    padding: 0px;
}

/* Increase font sizes a bit */
.reveal section h1 {
    font-size: 3.0em !important;
}
.reveal section h2 {
    font-size: 2.0em !important;
}
.reveal section p {
    font-size: 1.2em !important;
}
.reveal section li {
    font-size: 1.2em;
}
.reveal section figcaption {
    font-size: 1.2em;
}
.reveal section pre code {
    font-size: 1.5em !important;
}


/* Slide specifix layout tweaks */
#sb-cnn h2 {
    display: none;
}

#pipeline h2 {
    display: none;
}

#more-learning p {
    padding: 80px;
}


/*
#summary {
    text-align:left;
}
#summary h2 {
    text-align:center;
}
*/

