

/*
.level2.slide-background:after {
    background-image: url(./img/soundsensing-logo-transparent.png);
    background-size: 358px 65px;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: fixed;
    bottom: 0.8em;
    left: 700px;
    opacity: 0.9;
    width: 358px;
    height: 65px;
    content: "";
    z-index: -100;
}
*/

.reveal section img { 
    border:none;
    box-shadow:none;
    background: rgba(255, 255, 255, 1.0);
    margin: 0px;
    padding: 10px;
}

#demo-video h2 {
}

#summary h2 {
    display: none;
}

